<h1>Результат работы</h1>

<table cellpadding="4" cellspacing="1">
<% # вывод введеннй последовательности%>
<tr>
<td> Введенная последовательность </td>
<td> <%= @number.join(' ') %> </td>
</tr>

<% # вывод всевозможных подпоследовательностей%>
<% @podarray.each do |x| %>
      <tr>
      <td> подпоследовательность </td>
      <td> <%= x.join(' ') %> </td>
      </tr>
<% end %>

<tr>
<td> Максимальная подпоследовательность </td>
<td> <%= !@s.length.zero?? @s:"Нет максимальной " %> </td>
</tr>
</table>
<h1> <%= link_to 'вернуться обратно', root_path %>  </h1>
